.main {
  margin-top: 20px;
    width: 500px;
    height: 500px;
    background-image: url('https://yandex-images.clstorage.net/4D7Uep284/0bedcdaCjxg/zEwgJVAO1Tk0Piga5dUGWaF__FNmfCMQOqkZ6rz434TUAECEDqTRPJIXcl8Uhty5LJ4oOmqnD3hJZDKwzlks8B7OJ-MGGNf4NTt_CqIWQ0Xo9_ea6PH8GfImQa09_k3G1hGE0pQ_lG1Og6sBngEUN2RZfmqyPxQm2bcsJVpNOOjG3_s6m8GffHn0KUtj1kuDLH2026X4cZ44pMChfv-HjJRHgZOTNUJrAwhnDpeF2PdlmbWs9npZ5hB1K6pTi7zgRJf6_tXAXbp9MuHEbReEw-97fdluMTbeOabGJTj7QMbaBomZVj3BI0RPbsBXRd30b9K4rH02USDSeuNuXcm6qUob-vKbClw--DAkQiQfjM4tvTmZrfy0GX5syy5zO4JBnMDDkd31h-mFCW8C0knRcizZOO10eBtjVXhiaZVEMG3JGLB2HMDdvzbzZYwo3s9PI_12U2Y4vBL9b4Gp__-Ei93IhhaQskAlg0agRZ1AVDUsFDpo8vBbJ5z676HTjHioCx9w_ZLInfG58WXPZxCOhu-_epwlNLxVsSEAIr13Sc7TQksR0vVNL0TCJYgXDNd77pMx4rR62inZfesoW0Lw4UFWv_0aipP-sXCoS67cgkwj-j6e7nL-Fzuow293tsUL2QBKUlbxjWEHx2LOEImRtKreOar-d5LoXjQu5lkMO2rN2TA82wPWMH78p42okEHC5nNx3Gm3_Rt17IkhubROwhLDxt3ecM_hAoBsgJiB1v9tEX6rNPJbbJp9riIVhrKsBZuxdx0P0_5wee6C6BbBiCU9cdAhPnbSNuWLY7m3wMpZAYjTHfZCIkUEooCdzpj95R24ZfS-WiCe9S5q3kV3b4mc-nQRhlD4_Lmiw2cSjwLmPHrbLHtxk3pgzq55uQ4OnEqA1V_2BOTKSyVJVkcR-iPZeWtxsJahF3ctYtzGeiFIUPk2XA3fMTr04A3lVwwLKb_ynu3wMpK16E5o_U'); 
    background-size: cover;
    position: relative;
    padding: 20px;
    color: white;
    box-shadow: 10px 10px 8px 10px #494848;
  }
  
  .initial-content {
    text-align: center;
  }
  
  .input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .color-box {
    width: 100px;
    height: 100px;
    background-color: transparent;  
    transition: background-color 0.3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
  
  button {
    padding: 10px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
    color: #494848;
    border-radius: 10px;
    font-weight: 700;
  }
  
  button:hover{
    background-color: rgb(255, 255, 255);
    color: #222121;
  }

  .initial-content{
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;
    /* color: #222121; */
  }

  .color-box{
    font-size: 20px;
    font-weight: 700;
  }