.social_media_ul li{
    list-style-type: none;
    float: left;
    margin: 5px;
    color: #000000;
    padding: 10px;
    
}

.social_media_ul{
    margin-right: 20px;
    cursor: pointer;
    font-size: 30px;
}

.social_media_ul li:hover{
    background-color: #f0cb25;
    color: rgb(41, 40, 40);
    border-radius: 10px;
}